---
layout: default
title: Home
---

<div class="img">
    <img src="/assets/glam.jpg" alt="Boris with his violin case" width="250" height="250"/>
</div>

<div class="page">
    <p>A scientist, a musician, and a normal student discovering their aspirations. I can usually be found at <a href="https://discord.gg/eTtJwKJ">my discord server</a>. Head over if you want to receive updates when I post, or have a question, or even just simply want to be part of a group.</p>
    <p>See below for my unadulterated thoughts, or head to <a href="{{site.baseurl}}/archive">archives</a> for a list of all of them.</p>
    <p>
        I would like to extend a token of thanks to several people, without whom this website would not exist:
        <ul>
            <li>Jocelyn Baker, for providing all the resources that allowed me to build this;</li>
            <li><a href="http://morganarnold.net">Morgan Arnold</a>, for reigniting my desire to build a website; and</li>
            <li>Rashid Al-Abri, for being a wonderful head of Hack Club and reccommending the use of Visual Studio Code.</li>
        </ul>
    </p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>``

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
