---
layout: default
title: Home
---

<div class="img">
    <img src="/assets/glam.jpg" width="250" height="250"/>
</div>

<div class="page">
    <p>A scientist, a musician, and a normal student discovering their aspirations. I can usually be found at <a href="https://discord.gg/eTtJwKJ">my discord server</a>.</p>
    <p>See below for my unadulterated thoughts, or head to <a href="{{site.baseurl}}/archives">archives</a> for a list of all of them.</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>``

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
